* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.modal-container,
.modal, 
.details_main{
  height: 100%;
  width: 100%;
}

.details_main {
  max-height: 750px;
  width: 98%;
  display: flex;
  flex-direction: column;
  background: rgba( 205, 214, 221, 0.25 );
  margin: 0 auto;
  box-shadow: 0 8px 32px 0 #775144;
  border-radius: 7px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding-top: 5%;
  padding: 35px;
}

.details_back-button {
  height: 25px;
  width: 65px;
  display: flex;
}

.details_return-arrow {
  margin: 0px;
}

.details_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details_box {
  height: 90%;
}

.shadow {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.details_box.left {
  display: flex;
  flex-direction: column;
}

.details_album-cover {
  height: 293px;
  width: 294px;
  border-radius: 9px;
  align-self: center;
  margin-top: 10px;
}

.details_links {
  max-height: 35px;
  width: 294px;
  display: flex;
  flex-direction: row-reverse;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px 0px;
  padding: 0px 5px;
}

.details_discogs-logo {
  height: 28px;
}

.details_discogs-logo:hover {
  color: hsl(0, 100%, 99%);
}

.details_discogs-link {
  height: 28px;
  width: 70px;
  justify-self: center;
  margin-right: 5px;
}

.details_main-text {
  height: 30%;
  width: 294px;
  align-self: center;
  text-align: start;
}

.details_main-text > p {
  margin: 5px 0px;
  padding: 0px;
  font-size: 1.5rem;
}

.details_genre-container {
  width: 15%;
}

.details_spotify-player {
  height: 100%;
  border: none;
  border-radius: 7px;
}

.click {
  color: hsl(0, 100%, 99%);
  cursor: pointer;
}

.click:hover {
  color: hsl(0, 0%, 0%);
}

@media only screen and (max-width: 385px) {
  .details_album-cover {
    height: 260px;
    width: 261px;
  }

  .details_links {
    width: 261px;
  }

  .details_main-text {
    width: 261px;
  }
}

@media only screen and (min-width: 700px) {
  .details_main {
    width: 95%;
    flex-direction: column;
    justify-content: center;
  }

  .details_content {
    flex-direction: row;
  }

  .details_box {
    width: 42%;
  }

  .details_box.left {
    display: flex;
    flex-direction: column;
  }

  .details_album-cover {
    height: 300px;
  }

  .details_links {
    display: flex;
    align-self: center;
    margin: 15px 0px 7px;
  }

  .details_favorite-button {
    font-size: 5rem;
  }

  .details_main-text > p {
    margin: 7px 0px;
  }

  .details_spotify-player {
    width: 100%;
  }
}

@media only screen and (min-width: 1025px) {
  .details_main {
    height: 90%;
    min-height: 600px;
    max-width: 950px;
  }

  .details_back-button {
    margin-top: 10px;
  }

  .details_content {
    min-height: 565px;
  }

  .details_box {
    height: 100%;
  }

  .details_album-cover {
    height: 309px;
  }

  .details_favorite-button {
    transform: scale(1);
    margin-left: 5px;
  }

  .details_spotify-player {
    max-height: 540px;
  }
}
