* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.modal-container,
.modal, 
.details_main{
  height: 100%;
  width: 100%;
}

.details_main {
  height: 100vh;
  width: 98%;
  max-height: 650px;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  justify-content: center;
  background: rgba( 205, 214, 221, 0.25 );
  box-shadow: 0 8px 32px 0 #775144;
  margin: 0 auto;
  border-radius: 1em;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 35px;
  z-index: 1;
}


.details_box {
  height: 90%;
}

.shadow {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.details_box.left {
  display: flex;
  flex-direction: column;
}

.details_album-cover {
  height: 293px;
  width: 294px;
  border-radius: 9px;
  align-self: center;
  margin-top: 10px;
}

.details_links {
  max-height: 35px;
  width: 294px;
  display: flex;
  flex-direction: row-reverse;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px 0px;
  padding: 0px 5px;
}

.details_discogs-logo {
  height: 28px;
}

.details_discogs-logo:hover {
  color: hsl(0, 100%, 99%);
}

.details_discogs-link {
  height: 25px;
  width: 70px;
  justify-self: center;
}

.details_main-text {
  height: 50%;
  width: 294px;
  align-self: center;
  text-align: start;
}

.details_main-text > p {
  padding: 0px;
  margin: 5px 0px;
  font-size: 1.5rem;
}

.details_genre-container {
  width: 15%;
}

.details_box.right {
  margin-top: 5px;
  margin-bottom: 10px;
}

.details_spotify-player {
  height: 100%;
  border: none;
  border-radius: 7px;
}

.click {
  color: hsl(0, 100%, 99%);
  cursor: pointer;
}

.click:hover {
  color: hsl(0, 0%, 0%);
}

@media only screen and (max-width: 385px) {
  .details_album-cover {
    height: 260px;
    width: 261px;
  }

  .details_links {
    width: 261px;
  }

  .details_main-text {
    width: 261px;
  }

  
}

@media only screen and (min-width: 700px) {
  .modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 0%, 0%, 0.4);
    padding: 5%;
    overflow: scroll;
  }

  .details_main {
    width: 95vw;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 5em;
  }

  .details_box {
    width: 42%;
  }

  .details_box.left {
    display: flex;
    flex-direction: column;
  }

  .details_album-cover {
    height: 300px;
  }

  .details_links {
    display: flex;
    align-self: center;
    margin: 15px 0px 7px;
  }

  .details_favorite-button {
    font-size: 5rem;
  }
  
  .details_discogs-link{
    height: 28px;
    width: 70px;
  }

  .details_main-text > p {
    margin: 7px 0px;
  }

  .details_box.right {
    margin: 0;
  }

  .details_spotify-player {
    width: 100%;
  }

  .close-icon {
    transform: scale(2);
  }

  .close-container {
    height: 65vh;
  }
}

@media only screen and (min-width: 1025px) {
  .details_main {
    height: 90vh;
    width: 70vw;
    min-height: 558px;
    min-width: 550px;
    max-width: 900px;
  }

  .details_album-cover {
    height: 309px;
  }

  .details_favorite-button {
    transform: scale(1);
    margin-left: 5px;
  }
  
  .details_discogs-link{
    height: 25px;
    width: 60px;
  }

  .close-container {
    height: 72vh;
  }

  .close-icon {
    transform: scale(1.5);
  }
}
