* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.modal-container,
.modal {
  height: 100%;
  width: 100%;
}

.modal-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 0%, 0.4);
  padding: 10px 10px 0px;
}

.modal {
  height: 89%;
  width: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1em;
  z-index: 1;
}

.glass {
  height: 87%;
  width: 87%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: .5em;
}

.box {
  height: 50%;
}

.shadow {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3)
}

.box.left {
  display: flex;
  flex-direction: column;
}

.album-cover {
  height: 85%;
  width: 85%;
  border-radius: 9px;
  align-self: center;
  margin-top: 10px
}

.links {
  width: 65%;
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin: 10px 0px;
}

.discogs-logo {
  height: 22px;
}

.discogs-link {
  width: 70px;
  display: flex;
  justify-content: center;
}

a {
  height: 25px;
  width: 70px;
  position: fixed;
  justify-self: center;
}

.modal-text {
  height: 50%;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: end;
  position: fixed;
  display: none;
}

.box.right {
  margin-top: 5px;
  margin-bottom: 10px;
}

iframe {
  height: 100%;
  border-radius: 7px;
}

.close-container {
  height: 94vh;
  width: 0;
}

.close-icon {
  transform: scale(1.25);
  padding-right: 5px;
}

.click {
  color: hsl(0, 100%, 99%);
  cursor: pointer;
}

.click:hover {
  color: hsl(0, 0%, 0%);
}

@media only screen and (min-width: 700px) {
  .modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 0%, 0%, 0.4);
  }

  .modal {
    height: 70vh;
    width: 70vw;
    min-width: 550px;
    max-width: 900px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* background-color: rgba(255, 255, 255, 0.3); */
    border-radius: 5em;
  }

  .glass {
    height: 70vh;
    width: 70vw;
    min-width: 550px;
    max-width: 900px;
    border-radius: 5.2em;
  }

  .box {
    height: 55vh;
    width: 42%;
  }

  .box.left {
    display: flex;
    flex-direction: column;
  }

  .album-cover {
    height: 67%;
    width: 82%;
    margin: 0;
  }

  .links {
    width: 80%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin: 7px 0px;
  }

  .modal-text {
    position: relative;
    font-size: 1.3em;
    display: flex;
  }

  .modal-text > p {
    margin: 7px 0px;
    padding-left: 5px;
  }

  .box.right {
    margin: 0;
  }

  iframe {
    width: 100%;
  }

  .close-icon {
    transform: scale(1.5);
  }

  .close-container {
    height: 72vh;
    /* width: 2.1%; */
  }
}
