.card-container {
  background-color: #CDD6DD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100vw;
}

@media (min-width: 700px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2vw;
  }
}

@media (min-width: 900px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2vw;
  }
}