@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Open+Sans:ital@0;1&family=Racing+Sans+One&display=swap');

:root {
  --primary-color: hsl(11, 100%, 8%);
  --secondary-color: hsl(15, 27%, 37%);
  --accent-color: hsl(45, 100%, 50%);
  --accent-glow: hsl(45, 90%, 65%);
  --text-color: hsl(206, 19%, 84%);
  --cyan: hsl(184, 96%, 90%);
  --deco-font: 'Monoton', cursive;
  --header-font: 'Racing Sans One', cursive;
  --body-font: 'Open Sans', sans-serif;
  font-size: 16px;

}

h1 {
  font-family: var(--deco-font);
  color: var(--accent-color);
  font-size: 3.5rem;
}

.App {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background: transparent;
  text-align: center;
  overflow-y: overlay;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100px auto;
  grid-template-areas:
    "header header header header header"
    "nav main main main main";
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "title title search";
  color: var(--primary-color);
  padding: 0px 3rem;
}

.header__h1 {
  grid-area: title;
  justify-self: left;
}

.search {
  grid-area: search;
}

main {
  grid-area: main;
}

a {
  text-decoration: none;
  width: 100%;
}


.glass {
  background: rgba( 205, 214, 221, 0.25 );
  box-shadow: 0 8px 32px 0 #775144;
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

video {
  z-index: -1;
  position: absolute;
}

@media (min-aspect-ratio: 16/9) {
  video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  video {
    width: auto;
    height: 100%;
  }
}

@media screen and (max-width: 780px) {
  .App {
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 75px auto;
    grid-template-areas:
    "header"
    "nav"
    "main";
  }
}
