:root {
  --primary-color: hsl(11, 100%, 8%);
  --secondary-color: hsl(15, 27%, 37%);
  --accent-color: hsl(45, 100%, 50%);
  --accent-glow: hsl(45, 90%, 65%);
  --text-color: hsl(206, 19%, 84%);
  --cyan: hsl(184, 96%, 90%);
  font-size: 16px;
}


.App {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(20deg, var(--primary-color), var(--accent-color));
  text-align: center;
  overflow-y: overlay;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 75px auto;
  grid-template-areas:
    "header header header header header"
    "nav main main main main";
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "title title search";
  color: var(--primary-color);
}

.header__h1 {
  grid-area: title;
  justify-self: left;
  padding-left: 1rem;
}

header.search {
  grid-area: search;
}

main {
  grid-area: main;
  color: var(--text-color);
}

a {
  text-decoration: none;
  width: 100%;
}

/* a:visited {
  color: var(--accent-color);
} */

.glass {
  background: rgba( 205, 214, 221, 0.25 );
  box-shadow: 0 8px 32px 0 #775144;
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 780px) {
  .App {
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 75px auto;
    grid-template-areas:
    "header"
    "nav"
    "main";
  }
}
