.card_card {
  margin: 3rem;
  border-radius: 1rem;
  padding: 20px;
  width: 280px;
  height: 507px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background: radial-gradient(ellipse at 13% 0, rgba( 205, 214, 221, 0.25 ) 25%, transparent 45%, rgba( 205, 214, 221, 0.25 ));
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
  transition: transform 2s;
}
 
.card_card:hover {
  transform: scale(1.1);
}


.card_details-link-container {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  padding-bottom: 1vh;
  /* text-decoration: none; */
}

.card_details-link-container:hover {
  cursor: pointer;
  width: 100%;
}

/* 
.title:hover, .artist:hover, .date:hover {
  text-decoration: underline;
} */


.card_cover {
  height: 250px;
  border: 1px rgb(219, 161, 161)
}

.card_date {
  margin: 0;
}

.card_discogs-link {
/* background-color: var(--accent-color); */
border-radius: 7px;
padding:2%;
width: 45%;
align-self: flex-end;
color: var(--primary-color);
background: radial-gradient(ellipse at 13% 0, rgba( 205, 214, 221, 0.25 ) 5%, transparent 25%, var(--accent-color));
backdrop-filter: blur( 15px );
}

.card_discogs-link:hover {
  cursor: pointer;
}

.card_genre {
color: var(--accent-glow);
background-color: var(--secondary-color);
/* padding: 1vh 2vw 1vh 2vw; */
padding: 5%;
margin: 1%;
font-weight: bolder;
border-radius: 5px;
background: radial-gradient(ellipse at 83% 0, var(--secondary-color) 45%, transparent 100%, var(--primary-color));
  backdrop-filter: blur( 8px );
}

.card_genre-container {
margin: 2vh 0 2vh 0;
display: flex;
}

.card_title {
  margin: 0;
}
